.client {
    background: #162c3b;
    padding: 100px;
    text-align: center;
    .heading {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

    .text {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: justify;
    }
    .imgBx {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
        img {
            max-width: 200px;
            margin: 20px;
            opacity: 0.25;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 991px) {
    .client {
        padding: 50px;
        .imgBx {
            justify-content: center;
        }
    }
}

@media (max-width: 500px) {
    .client {
        padding: 30px;
    }
}
