@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&displayswap');
@import './banner';
@import './about';
@import './services';
@import './technology';
@import './clients';
@import './testimonials';
@import './contact';
@import './footer';

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}